.social-media-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media-icons li:last-child {
    margin-right: 0;
  }
  
  .social-media-icons a {
    color: #fff;
  }
  
  .social-media-icons a:hover {
    color: #007bff;
  }
  
  .social-media-icons i {
    font-size: 1.5rem;
  }
body {
   position: relative;
   }
.navbar .container-fluid { 
  justify-content: center;
  }
.navbar-nav .nav-item:not(:last-child) {
  margin-right: 10px;
  font-size:20px;
  }
.dropdown-menu .dropdown-item:not(:last-child) {
  margin-right: 10px; 
  font-size:20px;
}  

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
}

.div h1 {
  font-weight: bold;
  color: black;
}
